[submodule "sync-app"]
	path = sync-app
	url = https://github.com/codenotes-blip/AI-Exchange-Sync-App.git
[submodule "agent-app"]
	path = agent-app
	url = https://github.com/codenotes-blip/AI-Exchange-Chat-App.git
[submodule "web-server-app"]
	path = web-server-app
	url = https://github.com/codenotes-blip/AI-Exchange-Web-Server-App.git
